[Unit]
Description=wstunnel server (WireGuard over TCP/443)
After=network-online.target
Wants=network-online.target
[Service]
ExecStart=/usr/local/bin/wstunnel server --restrict-to localhost:51820 wss://[::]:443
Restart=always
RestartSec=3
DynamicUser=yes
AmbientCapabilities=CAP_NET_BIND_SERVICE
[Install]
WantedBy=multi-user.target
